@font-face {
  font-family: "THSarabunNew";
  src: url("font/THSarabunNew.ttf");
}
@font-face {
  font-family: "OldLondonAlternate";
  src: url("font/OldLondonAlternate.ttf");
}
@font-face {
  font-family: "Chonburi-Regular";
  src: url("font/Chonburi-Regular.ttf");
}
@font-face {
  font-family: "TIMESBD0";
  src: url("font/TIMESBD0.ttf");
}
body {
  background: #fcf9d2;
  margin: 0 auto;
  width: 100%;
  font-family: "THSarabunNew";
  font-size: 3vw;
  color: #666666;
}
.pageweb {
  overflow-x: hidden;
}
/* link hompage */
#homepage {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 1em;
  top: 2%;
  z-index: 1000;
}

/* text Japan */
h1 {
  font-size: 6vw;
  color: white;
  top: 0%;
  right: 45%;
  position: absolute;
  z-index: 101;
  font-family: "TIMESBD0";
}

/* ground */
.ground {
  width: 100%;
  height: 49vw;
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  background-image: linear-gradient(#95cecb, #ffc06e);
}
.picture-ground:nth-child(1) img {
  position: absolute;
  width: 100%;
  bottom: 12%;
  z-index: 99;
}

.picture-ground:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 16vw;
  bottom: 0%;
  z-index: 98;
  background-image: linear-gradient(#95cecb, #fcf9d2);
}

.picture-ground:nth-child(3) img {
  position: absolute;
  width: 100%;
  size: cover;
  top: 6%;
  z-index: 97;
}

.picture-ground:nth-child(4) img {
  position: absolute;
  width: 10%;
  top: 30%;
  right: 25%;
  z-index: 97;
}

.picture-ground:nth-child(5) img {
  position: absolute;
  width: 60%;
  top: 12%;
  right: 19%;
  z-index: 97;
}

.picture-ground:nth-child(6) img {
  position: absolute;
  width: 10%;
  top: 10%;
  right: 30%;
  z-index: 97;
}

.picture-ground:nth-child(7) img {
  position: absolute;
  width: 8%;
  top: 33%;
  right: 93%;
  z-index: 97;
}

.picture-ground:nth-child(8) img {
  position: absolute;
  width: 25%;
  top: 39%;
  right: 0%;
  z-index: 97;
}

/* layer 1 */
.layer1 {
  width: 100%;
  height: 120vw;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.back-layer1:nth-child(1) img {
  position: absolute;
  width: 23%;
  top: 1%;
  right: 77.2%;
  display: none;
}

.back-layer1:nth-child(2) img {
  position: absolute;
  width: 145%;
  top: 3%;
  right: 0%;
  z-index: 0;
}

.back-layer1:nth-child(3) img {
  position: absolute;
  width: 13%;
  top: 3%;
  right: 0%;
  display: none;
}

.back-layer1:nth-child(4) img {
  position: absolute;
  width: 18.5%;
  top: 80%;
  right: 4%;
}

.back-layer1:nth-child(5) img {
  position: absolute;
  width: 25%;
  top: 79%;
  right: 2%;
  z-index: 10;
}

.back-layer1:nth-child(6) img {
  position: absolute;
  width: 31%;
  top: 168%;
  right: 1%;
  z-index: 1;
}

.back-layer1:nth-child(7) img {
  position: absolute;
  width: 28%;
  top: 13%;
  right: 75%;
  z-index: 100;
  display: none;
}

.text-layer1:nth-child(8) {
  position: absolute;
  width: 100%;
  top: 5%;
  right: 0%;
  z-index: 10;
}

.text-layer1 h2 {
  font-size: 7vw;
  font-family: "OldLondonAlternate";
  color: black;
}

.text-layer1 h3 {
  font-size: 2vw;
  font-family: "Chonburi-Regular";
  margin: -4%;
  color: black;
}
.text-layer1:nth-child(9) {
  position: absolute;
  width: 79%;
  top: 47%;
  right: 10%;
  z-index: 10;
}

.text-layer1:nth-child(10) {
  position: absolute;
  width: 51%;
  top: 70%;
  right: 10%;
  z-index: 10;
}

.back-layer1:nth-child(11) img {
  position: absolute;
  width: 48%;
  top: 22%;
  right: 26%;
  z-index: 100;
}

.back-layer1:nth-child(12) img {
  position: absolute;
  width: 29%;
  top: 73%;
  right: 65%;
  z-index: 100;
}

.back-layer1:nth-child(13) img {
  position: absolute;
  width: 100%;
  top: 17%;
  right: 0%;
  z-index: 9;
}

/* layer 2 */

.layer2 {
  width: 100%;
  height: 150vw;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.back-layer2:nth-child(1) img {
  position: absolute;
  width: 100%;
  top: 18%;
  left: 0%;
  z-index: 9;
}

.back-layer2:nth-child(2) img {
  position: absolute;
  width: 36%;
  top: 5.7%;
  left: 0.9%;
  z-index: 10;
}

.back-layer2:nth-child(3) img {
  position: absolute;
  width: 34%;
  top: 11%;
  left: 42%;
  z-index: 8;
}

.back-layer2:nth-child(4) img {
  position: absolute;
  width: 54%;
  top: 70%;
  right: 0%;
  z-index: 7;
}

.back-layer2:nth-child(5) img {
  position: absolute;
  width: 57%;
  top: 84%;
  right: 0%;
  z-index: 8;
}

.back-layer2:nth-child(6) img {
  position: absolute;
  width: 12%;
  top: 100%;
  right: 33%;
  z-index: 8;
}

.text-layer2:nth-child(7) {
  position: absolute;
  width: 59%;
  top: 58%;
  right: 32%;
  z-index: 100;
}

.text-layer2 h2 {
  font-family: "Chonburi-Regular";
  font-size: 6vw;
  color: black;
  position: absolute;
  top: -170%;
  right: -17%;
}

.back-layer2:nth-child(8) img {
  position: absolute;
  width: 12%;
  top: 100%;
  right: 28.5%;
  z-index: 8;
}

.back-layer2:nth-child(9) p {
  position: absolute;
  font-family: "Chonburi-Regular";
  color: #caa259;
  font-size: 2vw;
  width: 30%;
  top: 96%;
  right: 18%;
  z-index: 8;
}
/* layer 3 */
.layer3 {
  width: 100%;
  height: 180vw;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.back-layer3:nth-child(1) img {
  position: absolute;
  width: 53%;
  top: -6%;
  left: 0%;
}

.back-layer3:nth-child(2) img {
  position: absolute;
  width: 10%;
  top: 6%;
  left: 41%;
}

.back-layer3:nth-child(3) img {
  position: absolute;
  width: 12%;
  top: 11%;
  left: 6%;
}

.back-layer3:nth-child(4) img {
  position: absolute;
  width: 91%;
  top: 26%;
  right: 4.5%;
  z-index: 10;
}

.text-layer3:nth-child(5) {
  position: absolute;
  width: 87%;
  top: 70%;
  right: 6%;
  z-index: 10;
}

.text-layer3 h2 {
  font-family: "Chonburi-Regular";
  font-size: 6vw;
  text-align: right;
  color: black;
  position: absolute;
  top: -180%;
  right: 4%;
}

.text-layer3 h3 {
  font-family: "Chonburi-Regular";
  font-size: 6vw;
  position: absolute;
  top: -195%;
  right: 1%;
  color: black;
}

.text-layer3:nth-child(6) {
  position: absolute;
  width: 30%;
  top: 100%;
  right: 63%;
  z-index: 10;
  font-family: "Chonburi-Regular";
  font-size: 3vw;
}

.box1 {
  position: absolute;
  width: 48%;
  height: 75%;
  top: 44%;
  right: 0%;
  z-index: 0;
  background-color: #f1957c;
  display: none;
}

/* layer 4 */
.layer4 {
  width: 100%;
  height: 210vw;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.back-layer4:nth-child(1) img {
  position: absolute;
  width: 100%;
  top: 7%;
}

.back-layer4:nth-child(2) img {
  position: absolute;
  width: 100%;
  top: 27%;
  z-index: 11;
}

.back-layer4:nth-child(3) img {
  position: absolute;
  width: 92%;
  top: 44%;
  left: 2%;
  z-index: 10;
}

.text-layer4 h2 {
  font-family: "Chonburi-Regular";
  font-size: 6vw;
  color: black;
  position: absolute;
  top: -164%;
  left: 73%;
}

.text-layer4:nth-child(4) {
  position: absolute;
  width: 83%;
  top: 63%;
  left: 9%;
  z-index: 10;
}

.text-layer4:nth-child(5) {
  position: absolute;
  font-family: "Chonburi-Regular";
  width: 30%;
  top: 91%;
  left: 9%;
  z-index: 10;
  font-size: 3vw;
}

.box2 {
  position: absolute;
  width: 48%;
  height: 44%;
  top: 51.6%;
  left: 0%;
  z-index: 10;
  background-color: #f1957c;
  display: none;
}
/* layer 5 */
.layer5 {
  width: 100%;
  height: 30vw;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  background-image: linear-gradient(#fcf9d2, #95cecb);
}

.back-layer5:nth-child(1) img {
  position: absolute;
  width: 100%;
  bottom: 0%;
  z-index: 10;
}

.back-layer5:nth-child(2) img {
  position: absolute;
  width: 100%;
  top: -11%;
}

.back-layer5:nth-child(3) img {
  position: absolute;
  width: 60%;
  top: -25%;
  right: 14%;
}

.back-layer5:nth-child(4) img {
  position: absolute;
  width: 65%;
  top: 2%;
  right: 3%;
}

.back-layer5:nth-child(5) img {
  position: absolute;
  width: 53%;
  top: 15%;
  right: 45%;
  z-index: 9;
}
