@font-face {
  font-family: "THSarabunNew";
  src: url("font/THSarabunNew.ttf");
}

@font-face {
  font-family: "Chonburi-Regular";
  src: url("font/Chonburi-Regular.ttf");
}

@font-face {
  font-family: "TIMESBD0";
  src: url("font/TIMESBD0.ttf");
}
.pageweb{
  overflow-x: hidden;
}
body {
  background: #efb9be;
  margin: 0 auto;
  width: 100%;
  font-family: "THSarabunNew";
  font-size: 3vw;
  overflow-x: hidden;
}

/* link hompage */
#homepage {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 1em;
  top: 2%;
  z-index: 1000;
}

/* text Japan */
h1 {
  font-size: 6vw;
  color: white;
  font-weight: bold;
  top: 6%;
  right: 43%;
  position: absolute;
  z-index: 101;
  font-family: "TIMESBD0";
}

/* ground */
.ground {
  width: 100%;
  height: 36vw;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
.picture-ground:nth-child(1) img {
  position: absolute;
  width: 100%;
  bottom: 0%;
  z-index: 99;
}

.picture-ground:nth-child(2) img {
  position: absolute;
  width: 92%;
  top: 61%;
  right: 4%;
  z-index: 98;
}

.picture-ground:nth-child(3) img {
  position: absolute;
  width: 26%;
  top: 69%;
  right: 25%;
  z-index: 100;
}

.picture-ground:nth-child(4) img {
  position: absolute;
  width: 60%;
  top: 14%;
  right: 37%;
  z-index: 100;
}

.picture-ground:nth-child(5) img {
  position: absolute;
  width: 50%;
  top: 24%;
  right: 40%;
  z-index: 100;
}

.picture-ground:nth-child(6) img {
  position: absolute;
  width: 67%;
  top: 14%;
  right: 5%;
  z-index: 100;
}

.picture-ground:nth-child(7) img {
  position: absolute;
  width: 77%;
  top: 36%;
  right: 13%;
  z-index: 100;
}

.picture-ground:nth-child(8) img {
  position: absolute;
  width: 14%;
  top: 34%;
  right: 28%;
  z-index: 100;
}

/* river */
.river {
  position: relative;
  width: 100%;
  height: 15vw;
  max-width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(#f4879c, #efb9be);
}

.picture-river:nth-child(1) img {
  position: absolute;
  width: 70%;
  top: 57%;
  right: 25%;
  z-index: 100;
}

.picture-river:nth-child(2) img {
  position: absolute;
  width: 65%;
  top: 18%;
  right: 19%;
  z-index: 100;
}

.picture-river:nth-child(3) img {
  position: absolute;
  width: 6%;
  top: 60%;
  right: 10%;
  z-index: 100;
}

.picture-river:nth-child(4) img {
  position: absolute;
  width: 4%;
  top: 20%;
  right: 6%;
  z-index: 100;
}
.picture-river:nth-child(5) img {
  position: absolute;
  width: 4%;
  top: 15%;
  right: 45%;
  z-index: 100;
}

.picture-river:nth-child(6) img {
  position: absolute;
  width: 6%;
  top: 30%;
  right: 75%;
  z-index: 100;
}
.picture-river:nth-child(7) img {
  position: absolute;
  width: 4%;
  top: 10%;
  left: 5%;
  z-index: 100;
}

.picture-river:nth-child(8) img {
  position: absolute;
  width: 4%;
  top: 50%;
  right: 50%;
  z-index: 100;
}

/* layer 1 */

.layer1 {
  width: 100%;
  height: 240vw;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.back-layer1:nth-child(1) img {
  position: absolute;
  width: 95%;
  bottom: 0%;
}

.back-layer1:nth-child(2) img {
  position: absolute;
  width: 100%;
  margin: 0;
  top: 10%;
  right: 0%;
}

.text-layer1 {
  position: absolute;
  z-index: 100;
  width: 100%;
  left: 0%;
  color: #1b1464;
  top: 0%;
}

.text-layer1 h2 {
  font-size: 6vw;
  font-family: "Chonburi-Regular";
  z-index: 1;
  margin-left: 19%;
  margin-top: 5.5%;
}
.text-layer1 h3 {
  font-size: 3.5vw;
  margin-left: 70%;
  margin-top: 5%;
}
.text-layer1 p {
  position: absolute;
  top: 304%;
  right: 0%;
  width: 46%;
}

.back-layer1:nth-child(4) img {
  position: absolute;
  width: 17%;
  top: 8.2%;
  right: 32%;
}

.back-layer1:nth-child(5) img {
  position: absolute;
  width: 14%;
  top: 1%;
  right: 73%;
}
/* layer 2 */

.layer2 {
  width: 100%;
  height: 120vw;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.back-layer2:nth-child(1) img {
  position: absolute;
  width: 47vw;
  top: 3.8%;
  left: 2%;
  z-index: 100;
}

.back-layer2:nth-child(2) {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 40%;
}

.back-layer2:nth-child(3) {
  width: 10vw;
  position: absolute;
  display: inline-flex;
  top: 40%;
  right: 20%;
}

.back-layer2 h2 {
  font-size: 5vw;
  color: #1b1464;
  font-family: "Chonburi-Regular";
}
.back-layer2 p {
  color: #1b1464;
}
.back-layer2:nth-child(4) img {
  position: absolute;
  width: 100%;
  bottom: 71%;
  z-index: 1;
  display: unset;
}
.back-layer2:nth-child(5) img {
  position: absolute;
  width: 100%;
  bottom: -15%;
  z-index: 1;
  display: unset;
}

/* layer 3 */
.layer3 {
  width: 100%;
  height: 60vw;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.back-layer3:nth-child(1) img {
  position: absolute;
  width: 16%;
  top: 55%;
  left: 3%;
  margin-left: 0%;
  margin-top: 0%;
}
.back-layer3:nth-child(2) {
  position: absolute;
  width: 100%;
  top: 30%;
}
.back-layer3:nth-child(3) img {
  position: absolute;
  width: 39.5%;
  top: -192.5%;
  right: 2%;
  z-index: 100;
}

.back-layer3:nth-child(4) {
  position: absolute;
  width: 9%;
  top: 53%;
  right: 5%;
}
.back-layer3 .text-layer3 {
  background-color: #f2d6d9;
  border-radius: 1em;
  color: #1b1464;
  margin-right: 15%;
  margin-left: 20%;
}

.back-layer3 .text-layer3 p {
  padding: 15px;
}

/* gallery */
.gallery {
  height: 5vw;
}
.film-gallery:nth-child(1) img {
  position: absolute;
  display: none;
}
.items {
  position: absolute;
  text-align: center;
  width: 300%;
  top: -1435%;
  padding: 0;
  margin-left: 0%;
  transform: none;
  z-index: 100;
}
.items li {
  vertical-align: middle;
  display: inline-block;
  list-style: none;
  width: 16%;
  height: 10vw;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.items .bg-img {
  position: absolute;
  width: 43vw;
  height: 24vw;
  background-size: cover;
  background-position: center top;
}
.items :hover {
  width: 43vw;
  height: 24vw;
  transition-delay: 0.5s;
}

/* layer 4 */
.layer4 {
  width: 100%;
  height: 190vw;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  color: #1b1464;
}
.back-layer4:nth-child(1) {
  position: absolute;
  width: 70%;
  z-index: 100;
  top: 42%;
  left: 17%;
}
.back-layer4:nth-child(2) {
  position: absolute;
  width: 66%;
  z-index: 100;
  top: 80%;
  left: 21%;
}
.back-layer4:nth-child(3) img {
  position: absolute;
  width: 100%;
  top: 68%;
  z-index: 1;
}
.back-layer4:nth-child(4) img {
  position: absolute;
  width: 100%;
  z-index: 100;
  left: 0%;
  top: 9%;
}
.back-layer4 h2 {
  position: absolute;
  top: -105%;
  font-size: 5vw;
  font-family: "Chonburi-Regular";
  right: 38%;
}

.back-layer4:nth-child(5) img {
  display: none;
}
/* fish layer4 */
.back-layer4:nth-child(6) img {
  position: absolute;
  width: 4%;
  top: 61%;
  left: 90%;
  z-index: 2;
}
.back-layer4:nth-child(7) img {
  position: absolute;
  width: 6%;
  top: 92%;
  left: 34%;
  z-index: 2;
}

.back-layer4:nth-child(8) img {
  position: absolute;
  width: 4%;
  top: 87%;
  left: 62%;
  z-index: 2;
}
.back-layer4:nth-child(9) img {
  position: absolute;
  width: 4%;
  top: 90%;
  left: 9%;
  z-index: 2;
}
.back-layer4:nth-child(10) img {
  position: absolute;
  width: 4%;
  top: 66%;
  left: 9%;
  z-index: 2;
}
.back-layer4:nth-child(11) img {
  position: absolute;
  width: 4%;
  top: 77%;
  left: 85%;
  z-index: 2;
}

/* layer 5 */

.layer5 {
  width: 100%;
  height: 25vw;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  background-image: linear-gradient(#efb9be, #f4879c);
}

.back-layer5:nth-child(1) img {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: -35%;
}

.back-layer5:nth-child(2) img {
  position: absolute;
  width: 90%;
  top: 44%;
  right: 4%;
  z-index: 99;
}

.back-layer5:nth-child(3) img {
  position: absolute;
  width: 35%;
  top: 63%;
  right: 21%;
  z-index: 100;
}

.back-layer5:nth-child(4) img {
  position: absolute;
  width: 80%;
  top: 11%;
  right: 13%;
  z-index: 101;
}

.back-layer5:nth-child(5) img {
  position: absolute;
  width: 45%;
  top: 17%;
  right: 41%;
  z-index: 100;
}
